*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
header{
    height: 100px;
    width: 100%;
    padding: 0 8% ;
    position: relative;
    background-color: gold;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 140px;
    height: 100px;
}
.nav-links{
    padding: 28px 0;
    font-size: x-large ;
}
.nav-links li{
    display: inline-block;
    margin: 0 15px;
}
.nav-links li a{
    text-decoration: none;
    color: black;
    padding: 5px 0;
    position: relative;
}

.nav-links li a:hover{
    width: 100%;
    color: white;
}
#home{
    height: 100vh;
    background-image: url('..//Images/bg.jpg');
    background-size: cover;
    background-position: center;
    opacity: 1;
}
#home h1{
    position: absolute;
    left: 30%;
    top: 50%;
    width: 50%;
    color: white;
    font-size: 50px;
    text-align: center;
}
#home .button{
    position: absolute;
    left: 43%;
    top: 70%;
    width: 20%;
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    background-color: goldenrod;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
}
#home .button:hover{
    background-color: white;
    color: goldenrod;
}

#About{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
    padding: 10px 20px;
}
#About h1{
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
}
#About h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    display: block;
    margin: 0 auto;
    background-color: #4caf50;
}
#About p{
    font-size: 20px;
    color: #666;
    margin-bottom: 40px;
}
.container{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.about-image{
    flex:1;
    margin-right: 40px;
    overflow: hidden;
}
.about-image img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}
.about-image:hover img{
    transform: scale(1.2);
}
.content_about{
    flex: 1;
}
.content_about h2{
    font-size: 25px;
    margin-bottom: 15px;
    color: white;
}
.content_about p{
    font-size: 18px;
    line-height: 1.5;
    color: #666;
}
.content_about .read-more{
    display: inline-block;
    padding: 10px 20px;
    background-color: goldenrod;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
}
.content_about .read-more:hover{
    text-decoration: none;
    border-radius: 25px;
    background-color: #fff;
    color: goldenrod;    
}
.container1{
    width: 80%;
    margin: 50px auto;
    margin-left: 230px;
}
.contact-box{
    background: #fff;
    display: flex;
}
.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}
.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background: goldenrod;
    color: white;
}
h1{
    margin-bottom: 10px;
}
.container p{
    margin-bottom: 40px;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    height: 35px;
}
button{
    background: goldenrod;
    color: white;
    border: none;
    outline: none;
    width: 100px;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    cursor: pointer;
}
.contact-left h3{
    color: goldenrod;
    font-weight: 600;
    margin-bottom: 30px;
}
.contact-right h3{
    font-weight: 600;
    margin-bottom: 30px;
}

tr td:first-child{
    padding-right: 20px;
}
tr td{
    padding-top: 20px;
}